.rheostat-horizontal {
  height: 24px;
}

.rheostat-horizontal .rheostat-background {
  height: 15px;
  top: 0px;
  width: 100%;
}

.rheostat-horizontal .rheostat-progress {
  height: 13px;
  top: 2px;
}

.rheostat-horizontal .rheostat-handle {
  margin-left: -12px;
  top: -5px;
}

.rheostat-horizontal .rheostat-handle:before,
.rheostat-horizontal .rheostat-handle:after {
  top: 7px;
  height: 10px;
  width: 1px;
}

.rheostat-horizontal .rheostat-handle:before {
  left: 10px;
}

.rheostat-horizontal .rheostat-handle:after {
  left: 13px;
}
