.rheostat-handle {
  position: relative;
}

.rheostat-handle-tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  width: auto;
  color: #fff;
  padding: 5px 7px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, .6);
  border-radius: 3px;
}

.rheostat-handle-tooltip:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  border-top: 5px solid rgba(0, 0, 0, .6);
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
}
