{
  "root": true,

  "extends": [
    "airbnb",
  ],

  "env": {
    "browser": true,
    "node": true
  },

  "parser": "babel-eslint",

  "rules": {
    "react/jsx-one-expression-per-line": 0,
    "react/forbid-prop-types": 1,
    "react/no-multi-comp": 0,
    "react/prefer-es6-class": 0,
    "react/prefer-stateless-function": 0,
    "jsx-a11y/no-static-element-interactions": 1,
    "react/jsx-props-no-spreading": 1,
    "react/no-deprecated": 0
  }
}
